body{
    background-color: rgb(163, 161, 161);
    
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.content{
    display: flex;
    justify-content: center;
    background-color: rgb(176, 238, 31);
    margin: 20px 20px;
    width: clamp(300px, 100%, 800px);
    height: 500px;
}