body {
    background-color: #fff;
    margin: 0px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(163, 161, 161);
    margin: 10px 10px;
}
.box{
    border:1px #ccc solid;
    background-color:rgb(77, 202, 171);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}